* {
  margin: 0;
  padding: 0;
}
body {
  background-color: grey;
}
#welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
#welcome1 {
  height: 130px;
  padding-top: 20px;
  width: 550px;
  color: violet;
  background-color: white;
  border: 10px solid orangered;
  box-shadow: 5px 5px darkslateblue;
  border-radius: 20px;
  text-align: center;
  padding-bottom: 20px;
}

#stick {
  /* display: flex; 
  justify-content:space-around;  */
  position: sticky;
  flex-wrap: wrap;
  top: 950px;
  left: 700px;
  color: red;
  width: 500px;
  background-color: greenyellow;
  border: 10px solid orangered;
  border-radius: 20px;
  box-shadow: 5px 5px darkslateblue;
}
.stick_child {
  padding: 0px 50px;
}
#centred_item {
  display: flex;
  /* align-content: space-between; */
  text-shadow: 2px 2px 2px blueviolet;
  margin: 13px;
}
#centred_item {
  margin: 200;
  padding: 100px;
  background-color: grey;
  color: darkviolet;
  display: flex;
  justify-content: space-between;
  border: 10px solid green;
}
.centred_item {
  border: 10px solid red;
  width: 550px;
  height: 450px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 10px 10px darkslateblue;
  margin: 20px;
  background-color: white;
  padding: 20px;
}

#imgs {
  width: 200px;
  height: 150px;
  padding: 30px;
  position: relative;
  top: 20px;
}

#imgs {
  width: 200px;
}

#items {
  border: 10px solid darkviolet;
  background-color: green;
  color: black;
  text-align: center;
}

#innerflex {
  display: flex;
  justify-content: space-around;
  font-style: italic;
}
.items_child {
  background-color: yellowgreen;
  border: 10px;
}

.c {
  padding: 20px;
}
#Hello {
  background-color: yellow;
  width: 1060px;
  height: 144px;
  padding: 10px;
  padding-left: 20px;
}
